*{
    margin: 0px;
    padding: 0px;
    box-sizing:'border-box'
}
.wrapper{
    width: 100%;
    border: 1px solid red;
}
.header__container{
    background-image: url("../assets/blog_images/overlay_head.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    width: 194px;
    height: 251px;
}
.thumbnil{
    width: 700px;
    height: 511px;
}
@media only screen and (max-width: 768px) {
    .thumbnil{
        width: 500px;
        height: 300px;
    }
  }
.blog,.post-recients,.categorias{
    color: #1265F6;
    font-family: "Gilroy-ExtraBold";
}
